@model SocialNetwork.Models.UserModel
@{ 
    ViewData["Title"] = "Редактирование пользователя";
}

<form method="post">
    <input type="hidden" value="@Model.Login" name="Login" />
    <input type="hidden" value="@Model.Id" name="Id" />
    <input type="hidden" value="@Model.Password" name="Password"/>
    <input type="hidden" value="@Model.Friends" name="Friends"/>
    <input type="hidden" value="@Model.Dialogues" name="Dailogues"/>
    <table>
        <tr>
            <td>Имя:</td>
            <td><input value="@Model.Name" name="Name" /></td>
        </tr>
        <tr>
            <td>Пол:</td>
            <td>
                <select name="Sex">
                    <option value="male">male</option>
                    <option value="female">female</option>
                    <option value="not determined">not determined</option>
                </select>
            </td>
        </tr>
        <tr><td><input value="Сохранить изменения" type="submit" /></td></tr>
    </table>
</form>