@model SocialNetwork.Models.UserModel
@{
    ViewData["Title"] = "Пользователь";
}

<table>
    <tr>
        <td>Имя: @Model.Name</td>
    </tr>
    <tr>
        <td>Пол: @Model.Sex</td>
    <tr>
</table>
@if (Model.Friends != null && Model.Friends.Count() > 0)
{
    <p>Друзья:</p>
    @foreach (var friend in Model.Friends)
    {
        <br />
        <p><a asp-controller="Home" asp-action="UserProfile" asp-route-login="@friend.Login">@friend.Name</a></p>
    }
    <br />
}
else
{
    <p>Нет друзей.</p>
    <br />
}
<br />
@if (ViewBag.is_auth_user)
{
    <a class="btn btn-default" asp-controller="Home" asp-action="Edit" asp-route-login="@Model.Login">Редактировать профиль</a>
}
else
{
    @if (ViewBag.is_friend)
    {
        <label>В друзьях</label>
    }
    else
    {
        <a class="btn btn-default" asp-controller="Home" asp-action="AddFriend" asp-route-login="@Model.Login">Добавить в друзья</a>
    }
    <br />
    <a class="btn btn-default" asp-controller="Dialogue" asp-action="UserDialogue" asp-route-login="@Model.Login">Перейти к диалогу</a>
}